*
!inspectionProfiles/
!inspectionProfiles/**
!runConfigurations/
!runConfigurations/**
!scopes/
!scopes/**
!codeStyles/
!codeStyles/**
!.gitignore
!deploymentTargetDropDown.xml
!deploymentTargetSelector.xml
!jarRepositories.xml
!kotlinc.xml
!runConfigurations.xml